*:focus {
    outline: none;
}

div.app-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    /* margin: auto; */
}

div.header{
    height: 50px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    
}

div.header input{
    
    width: 50vw;
    font-size: x-large;

    
} 

div.header div.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
    /* margin: 20px 10px */
}

div.header div.search-wrapper button{
    height:fit-content;
    font-size: large;
    padding: 5px 20px;
}

p.temp-display{
    font-size: 70px;
    margin: 0 0;
}

div.weather-info-wrapper h1{
    color: white;
}

div.weather-info-wrapper h1{
    text-align: center;
    padding: 25px 0;
}
div.weather-card-wrapper{
    display: flex;
    width: 70vw;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    gap: 40px;
    height: 48vh;



    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3)


    
}

div.weather-card-left{
    flex: 2;
}

div.weather-card-right{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid black; */
}

div.other-info-copies{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
    gap: 50px

    
}

div.other-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid black; */
}